# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock
/.vs/Earlymikoman.github.io/FileContentIndex/9e92eb78-787d-48dd-a5f9-e39395060a54.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/1d837fe2-c8ab-4f22-9431-ec33faa5041e.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/c0f2676f-4135-463a-8422-8732e9f5c3a2.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/a43c5b22-23b3-44c6-b366-ca4978391fa2.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/68546433-08f9-4e4f-94e7-f96336765c7d.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/acf4f5d6-4eea-48ac-a73f-5a6237d1f735.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/eb1271ef-75c3-4cd0-bb71-996c52faf0a7.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/16e6de41-e5ce-43ff-bb1b-08a5d9ceb1ff.vsidx
/.vs/Earlymikoman.github.io/FileContentIndex/be59433d-f959-4dcd-9409-1217eb969779.vsidx
