<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic</title>
    {% include "NavBar.html" %}
    <link rel="stylesheet" href="style.css">
</head>



<body>
    <div id="site-header"></div>
    <header>
        <h1>Academic</h1>
    </header>
    <main>

        <section id="Sciophobia">
        {% include "./Sciophobia/SciophobiaSection.html" %}
        </section>

        <section id="Last Contact">
        {% include "./Last Contact/LastContactSection.html" %}
        </section>

    </main>
    <footer>
        <p>&copy; 2025 Xander Boosinger</p>
    </footer>
</body>

</html>